:root {
  --bg-color: #2f333a;
  --text-color: #ffffff;
  --header-footer-bg-color: #282c34;
  --header-footer-text-color: white;
  --link-color: black;
  --card-bg-color: #f4f4f4;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header,
footer {
  background-color: var(--header-footer-bg-color);
  padding: 1rem;
  color: var(--header-footer-text-color);
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}
/*----------------------------------------------------------------*/

/* Estilos generales para el tema claro */
.light-theme {
  background-color: #f2f2f2;
  color: #2f333a;
}

/* Estilos generales para el tema oscuro */
.dark-theme {
  background-color: #2f333a;
  color: white;
}

/* Estilos específicos para los componentes que necesiten */
button {
  margin: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.light-theme button {
  background-color: #ddd;
  color: #2f333a;
}

.dark-theme button {
  background-color: #2f333a;
  color: #ddd;
}

/* Estilos para el tema claro */
.light-header {
  background-color: #f2f2f2;
  color: #2f333a;
}

.light-footer {
  background-color: #f2f2f2;
  color: #2f333a;
}

/* Estilos para el tema oscuro */
.dark-header {
  background-color: #2f333a;
  color: #f2f2f2;
}

.dark-footer {
  background-color: #2f333a;
  color: #f2f2f2;
}

/* ---------------------------------------------------------------------------- */
/* Button.css */
.color-button {
  background-color: var(--header-footer-bg-color--bg-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 5%;
}

.color-button:hover {
  transform: scale(1.1);
  font-size: 115%;
}

.animated-button {
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.animated-button:hover {
  transform: scale(1.1);
  font-size: 85%;
  background-color: grey;
  color: black;
}

/* styles.css */

.fotoDinamica {
  width: 95%;
  aspect-ratio: 1 / 1; /* Puede ser opcional --> le da estructura a las fotos  */
  /* si es widescreen o si es tipo retrato */
  object-fit: cover;
  border-radius: 30px;
}

.fixedSizeImage {
  width: 500px;
  height: 360px;
  object-fit: cover;
}
